## Data Cleaning

* Este notebook es la primera parte del proyecto de visualización para el bootcamp IronHack - semana 5
*

In [9]:
%pip install forex-python

Collecting forex-python
  Downloading forex_python-1.8-py3-none-any.whl (8.2 kB)
Requirement already satisfied: requests in c:\users\jacom\anaconda3\envs\clase\lib\site-packages (from forex-python) (2.31.0)
Collecting simplejson (from forex-python)
  Obtaining dependency information for simplejson from https://files.pythonhosted.org/packages/7f/60/b0071b60e9318bb5c3716e5c0d506d61350670b7fba9a8532ebf3959b88a/simplejson-3.19.2-cp310-cp310-win_amd64.whl.metadata
  Downloading simplejson-3.19.2-cp310-cp310-win_amd64.whl.metadata (3.2 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\jacom\anaconda3\envs\clase\lib\site-packages (from requests->forex-python) (3.3.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jacom\anaconda3\envs\clase\lib\site-packages (from requests->forex-python) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\jacom\anaconda3\envs\clase\lib\site-packages (from requests->forex-python) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jacom\anaconda3\envs\clase\lib\site-packages (from requests->forex-python) (2023.7.22)
Downloading simplejson-3.19.2-cp310-cp310-win_amd64.whl (75 kB)
   ---------------------------------------- 0.0/75.5 kB ? eta -:--:--
   --------------------- ------------------ 41.0/75.5 kB 991.0 kB/s eta 0:00:01
   ---------------------------------------- 75.5/75.5 kB 1.4 MB/s eta 0:00:00
Installing collected packages: simplejson, forex-python
Successfully installed forex-python-1.8 simplejson-3.19.2
Note: you may need to restart the kernel to use updated packages.

In [19]:
%pip install forex-python --upgrade

Requirement already satisfied: forex-python in c:\users\jacom\anaconda3\envs\clase\lib\site-packages (1.8)
Requirement already satisfied: requests in c:\users\jacom\anaconda3\envs\clase\lib\site-packages (from forex-python) (2.31.0)
Requirement already satisfied: simplejson in c:\users\jacom\anaconda3\envs\clase\lib\site-packages (from forex-python) (3.19.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\jacom\anaconda3\envs\clase\lib\site-packages (from requests->forex-python) (3.3.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jacom\anaconda3\envs\clase\lib\site-packages (from requests->forex-python) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\jacom\anaconda3\envs\clase\lib\site-packages (from requests->forex-python) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jacom\anaconda3\envs\clase\lib\site-packages (from requests->forex-python) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd
from forex_python.converter import CurrencyRates

In [2]:
data = pd.read_csv('../data/boat_data.csv')
data.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9888 entries, 0 to 9887
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        9888 non-null   object
 1   Boat Type                    9888 non-null   object
 2   Manufacturer                 8550 non-null   object
 3   Type                         9882 non-null   object
 4   Year Built                   9888 non-null   int64
 5   Length                       9879 non-null   float64
 6   Width                        9832 non-null   float64
 7   Material                     8139 non-null   object
 8   Location                     9852 non-null   object
 9   Number of views last 7 days  9888 non-null   int64
dtypes: float64(2), int64(2), object(6)
memory usage: 772.6+ KB

Tenemos 9888 entradas, podemos ver en el .info() que hay datos nulos, sobre todo en la columna de 'Manufacturer' 

Se va a proceder a limpiar la muestra de valores nulos para poder trabajar con una visualización clara y limpia.

También se va a separar la columna 'Price' para separar en dos: valor numérico y moneda.

In [5]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Year Built,9888.0,1893.192860,460.201582,0.00,1996.00,2007.00,2017.00,2021.00
Length,9879.0,11.570017,6.002820,1.04,7.47,10.28,13.93,100.00
Width,9832.0,3.520124,1.220534,0.01,2.54,3.33,4.25,25.16
Number of views last 7 days,9888.0,149.160801,151.819752,13.00,70.00,108.00,172.00,3263.00

In [14]:
def separa_valor_moneda(celda):
    partes = celda.split()
    try:
        return float(partes[0]), partes[1] # Hago un try except porque no siempre el valor numerico está en la primera posición
    except:
        return float(partes[1]), partes[0]

In [15]:
# Llamamos a la función y separamos en dos columnas aplicando función a toda la columna
data[['Precio', 'Currency']] = data['Price'].apply(separa_valor_moneda).apply(pd.Series)

In [20]:
data.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days,Precio,Currency
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226,3337.0,CHF
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75,3490.0,EUR
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124,3770.0,CHF
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64,25900.0,DKK
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58,3399.0,EUR

In [21]:
data.Currency.unique()

array(['CHF', 'EUR', 'DKK', 'Â£'], dtype=object)

In [22]:
data.Currency.value_counts()

Currency
EUR    8430
CHF     980
Â£      298
DKK     180
Name: count, dtype: int64

In [23]:
# Voy a limpiar todas aquellas donde aparezca Â£ y cambiarlo por GBP
data.Currency.replace('Â£','GBP', inplace=True)

In [24]:
data.Currency.value_counts()

Currency
EUR    8430
CHF     980
GBP     298
DKK     180
Name: count, dtype: int64

In [29]:
# Tenemos solo 4 tipos de moneda, la objetivo es el euro que es de la que más datos hay, 
# voy a hacer el traspaso a mano definiendo las tasas de cambio ya que Forex no está funcionando.

chf_to_eur = 1.04
gbp_to_eur = 1.14
dkk_to_eur = 0.13

In [32]:
# Cambiamos unidades de moneda con forex
def convert_currency(row):

    if row['Currency'] == 'CHF':
        exchange_rate = chf_to_eur
        return row['Precio'] * exchange_rate
    if row['Currency'] == 'GBP':
        exchange_rate = gbp_to_eur
        return row['Precio'] * exchange_rate
    if row['Currency'] == 'DKK':
        exchange_rate = dkk_to_eur
        return row['Precio'] * exchange_rate
    if row['Currency'] == 'EUR':
        return row['Precio']

In [33]:
data['Precio_EUR'] = data.apply(convert_currency, axis=1)
data.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days,Precio,Currency,Precio_EUR
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226,3337.0,CHF,3470.48
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75,3490.0,EUR,3490.00
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124,3770.0,CHF,3920.80
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64,25900.0,DKK,3367.00
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58,3399.0,EUR,3399.00

* Ya tengo los datos que necesito, puedo deshacerme de la columna 'Price' y poner en su lugar 'Precio', 'Currency' y 'Precio_EUR'

In [34]:
data = data.drop('Price', axis=1)

In [35]:
data.head()

,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days,Precio,Currency,Precio_EUR
0,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226,3337.0,CHF,3470.48
1,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75,3490.0,EUR,3490.00
2,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124,3770.0,CHF,3920.80
3,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64,25900.0,DKK,3367.00
4,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58,3399.0,EUR,3399.00

In [37]:
data.columns

Index(['Boat Type', 'Manufacturer', 'Type', 'Year Built', 'Length', 'Width',
       'Material', 'Location', 'Number of views last 7 days', 'Precio',
       'Currency', 'Precio_EUR'],
      dtype='object')

In [38]:
# Voy a reordenar las columnas como me apetece:
data = data[['Precio','Currency', 'Precio_EUR', 'Boat Type', 'Manufacturer', 'Type', 'Year Built', 'Length', 'Width',
       'Material', 'Location', 'Number of views last 7 days']]
data.head()

,Precio,Currency,Precio_EUR,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,3337.0,CHF,3470.48,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226
1,3490.0,EUR,3490.00,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75
2,3770.0,CHF,3920.80,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124
3,25900.0,DKK,3367.00,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64
4,3399.0,EUR,3399.00,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58

In [39]:
# Ahora voy a cambiar los NaNs de la columna material con 'unknown'
data.Material.fillna('unknown', inplace=True)

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9888 entries, 0 to 9887
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Precio                       9888 non-null   float64
 1   Currency                     9888 non-null   object
 2   Precio_EUR                   9888 non-null   float64
 3   Boat Type                    9888 non-null   object
 4   Manufacturer                 8550 non-null   object
 5   Type                         9882 non-null   object
 6   Year Built                   9888 non-null   int64
 7   Length                       9879 non-null   float64
 8   Width                        9832 non-null   float64
 9   Material                     9888 non-null   object
 10  Location                     9852 non-null   object
 11  Number of views last 7 days  9888 non-null   int64
dtypes: float64(4), int64(2), object(6)
memory usage: 927.1+ KB

In [41]:
# Y procedo igual con manufacturer:
data.Manufacturer.fillna('unknown', inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9888 entries, 0 to 9887
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Precio                       9888 non-null   float64
 1   Currency                     9888 non-null   object
 2   Precio_EUR                   9888 non-null   float64
 3   Boat Type                    9888 non-null   object
 4   Manufacturer                 9888 non-null   object
 5   Type                         9882 non-null   object
 6   Year Built                   9888 non-null   int64
 7   Length                       9879 non-null   float64
 8   Width                        9832 non-null   float64
 9   Material                     9888 non-null   object
 10  Location                     9852 non-null   object
 11  Number of views last 7 days  9888 non-null   int64
dtypes: float64(4), int64(2), object(6)
memory usage: 927.1+ KB

In [42]:
# El resto de valores nulos que haya los voy a borrar porque es info importante
data.dropna(inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9790 entries, 0 to 9887
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Precio                       9790 non-null   float64
 1   Currency                     9790 non-null   object
 2   Precio_EUR                   9790 non-null   float64
 3   Boat Type                    9790 non-null   object
 4   Manufacturer                 9790 non-null   object
 5   Type                         9790 non-null   object
 6   Year Built                   9790 non-null   int64
 7   Length                       9790 non-null   float64
 8   Width                        9790 non-null   float64
 9   Material                     9790 non-null   object
 10  Location                     9790 non-null   object
 11  Number of views last 7 days  9790 non-null   int64
dtypes: float64(4), int64(2), object(6)
memory usage: 994.3+ KB

In [43]:
# Listo, me quedo con esta base de datos. La paso a mi carpeta de data como boat_data_clean
data.to_csv('../data/boat_data_clean.csv')